<div class="container">
    <h1 class="text-center title">Key features of our app</h1>
    <div class="row cardContainer d-flex justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Document Digitization</h5>
                    <p class="card-text">System will extract data from document while retaining the sections/
                        formatting/ images of original document.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">User Management</h5>
                    <p class="card-text">User authentication and authorization mechanism, with defined user roles and
                        permissions to control upload, edit or access to document.</p>
                </div>
            </div>
        </div>
    </div>
</div>