<div class="container">
    <h1 class="text-center title">Our Team</h1>
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card">
                <img src="../../assets/Himanshu_photo.jpg" class="card-img-top mx-auto" alt="Team Member 1">
                <div class="card-body">
                    <h5 class="card-title">Pranav Tupe</h5>
                    <p class="card-text">Software Engineer</p>
                    <p class="card-text">Contact: pranav.tupe@ltimindtree.com</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card">
                <img src="../../assets/Himanshu_photo.jpg" class="card-img-top mx-auto" alt="Team Member 2">
                <div class="card-body">
                    <h5 class="card-title">Ashlesha Jagtap</h5>
                    <p class="card-text">Senior Software Engieer</p>
                    <p class="card-text">Contact: ashlesha.jagtap@ltimindtree.com</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4 d-flex justify-content-center">
            <div class="card">
                <img src="../../assets/Himanshu_photo.jpg" class="card-img-top mx-auto" alt="Team Member 3">
                <div class="card-body">
                    <h5 class="card-title">Himanshu Tekade</h5>
                    <p class="card-text">Quality Engineer</p>
                    <p class="card-text">Contact: himanshu.tekade@ltimindtree.com</p>
                </div>
            </div>
        </div>
    </div>
</div>