<div class="homeContainer">

    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center flex-column heading">
                <h1>Unlock the Power of <span style="color: chartreuse;">Digital Documents</span></h1>
                <p>Convert PDFs to XML while retaining formatting and images. Manage your digital documents with ease.
                    Get started now!</p>
                <button class="btn">Try it out</button>
            </div>
            <div class="col-md-6">
                <lottie-player class="animation" src="../../assets/animation.json" background="transparent" speed="1"
                    loop autoplay>
                </lottie-player>
            </div>
        </div>
    </div>


</div>